<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=article.title %></title>
	<link rel="icon" href="../public/images/favicon.ico" mce_href="../public/images/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/default.css" />
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/component.css" />
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/article.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
	<script src="../public/javascripts/modernizr.custom.js"></script>
</head>
<body>

	<div class="container">
		<h1><%=article.title %></h1>
		
		<div class="details">
			<%=article.content %>
		</div>
		<h5 class="crumb">
			<span>评论：<%=article.comments %></span>
			<% if(article.tags){ %>
			<span>标签：<%=article.tags.splitWith() %></span>
			<% } %>
			<span>发布于：<%=article.create_time.toDate("yyyy-MM-dd") %></span>
		</h5>
		<a class="like clearfix" data-id="<%=article.article_id %>">
			<div class="like-button">喜欢</div>
			<div class="likes-count">
				<span><%=article.likes %></span>
			</div>
		</a>
	</div>
<input type="hidden" name="" value="<%=bgIndex %>" id="bgIndex">

</body>
<script type="text/javascript" src="../public/javascripts/jquery.js"></script>
<script type="text/javascript" src="../public/javascripts/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
<script>
	var bgIndex=$('#bgIndex').val();
	$.backstretch("../public/images/bg/"+bgIndex+".jpg",{speed:500});
	var likes={
		wrap:null,
		id:-1,
		count:-1,
		init:function(){
			var that=this;
			this.wrap=$('.like');
			this.id=this.wrap.data('id');
			this.count=$('.likes-count span',this.wrap).html();
			this.wrap.on('click',function(){
				if($(that.wrap).hasClass('disabled'))
					return;
				$.ajax({
					url:'/addLike',
					dataType:'json',
					type:'post',
					data:{
						id:that.id,
						count:that.count
					},
					success:function(data){
						if(data && data.status){
							$(that.wrap).addClass('disabled');
							let temp_count=$('.likes-count span',this.wrap).html()
							$('.likes-count span',this.wrap).html(parseInt(temp_count)+1)
						}
					}
				});
			});
		}
	}
	likes.init();
</script>
</html>